/* LOGIN ADMIN FAWNAYCRAFT */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", serif;
}

.login-container {
    width: 100%;
    height: 100vh;
    background-color: #7b0000; /* maroon */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background-color: #ffffff;
    width: 320px;
    padding: 30px 25px;
    border-radius: 18px;
    text-align: center;
}

.login-card h2 {
    color: #7b0000;
    margin-bottom: 25px;
    font-weight: normal;
}

.login-card input {
    width: 100%;
    padding: 10px 14px;
    margin-bottom: 15px;
    border-radius: 20px;
    border: none;
    background-color: #7b0000;
    color: white;
    font-size: 14px;
}

.login-card input::placeholder {
    color: #f1dede;
}

.login-card button {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #7b0000;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

